/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
    font-family: 'Indie Flower', cursive;
    background-color: #f1c40f;
    text-decoration: none;
}

.container {
    margin: 10% auto;
    text-align: center;
    padding: 20px 0;
    width: 80%;
    height: 80vh;
    background-color: white;
    border-radius: 30px;
    display: table;
}

.start-button {
    font-family: 'Dosis', sans-serif;
    color: #3498db;
    font-size: 12px;
    border: 1px solid rgba(75, 127, 248, 0.4);
    border-radius: 12px;
    padding: 3px 5px;
}
.start-button:hover {
    font-size: 16px;
    box-shadow: 3px 10px rgba(163, 205, 241, 0.849);
}
h1 {
    color: #3498db;
    font-size: 65px;
    font-weight: 1000;
    margin: 0 0 10%;
}
.start-title {
    display: table-cell;
    vertical-align: middle;
}
.container2 {
    margin: 10% auto;
    text-align: center;
    padding: 20px 0;
    width: 80%;
    height: 80vh;
    background-color: white;
    border-radius: 30px;
    display: table;
}
td {
    color: #3498db;
    font-size: 2rem;
}
table {
    margin: 10% 5% 0;
}
td {
    width: 25vw;
    height: 20vh;
    text-align: center;
    vertical-align: middle;
}
section {
    color: #3498db;
}
#xScore, #oScore, #scoreboard {
    color: #f1c40f;
}
.bottom-buttons {
    font-family: 'Dosis', sans-serif;
    color: #3498db;
    display: inline-block;
    list-style: none;
    /* font-size: 12px; */
    /* padding: 3px 5px; */
}
.bottom-button:hover {
    /* font-size: 16px; */
    box-shadow: 3px 10px rgba(163, 205, 241, 0.849);
}
.play-again {
    border: 1px solid rgba(75, 127, 248, 0.4);
    border-radius: 12px;
}
.continue {
    border: 1px solid rgba(75, 127, 248, 0.4);
    border-radius: 12px;
    float: left;

}
.quit {
    border: 1px solid rgba(75, 127, 248, 0.4);
    border-radius: 8px;
}
.pointer, #scoreboard {
    cursor: pointer;
}
.cell1{
    border-bottom: 8px solid rgba(75, 127, 248, 1);
    border-right: 8px solid rgba(75, 127, 248, 1);
    border-radius: 8px;
}
.cell2{
    border-bottom: 8px solid rgba(75, 127, 248, 0.7);
    border-right: 8px solid rgba(75, 127, 248, 0.4);
    border-radius: 8px;
}
.cell3{
    border-bottom: 8px solid rgba(75, 127, 248, 0.3);
    border-radius: 8px;
}
.cell4 {
    border-bottom: 8px solid rgba(75, 127, 248, 1);
    border-right: 8px solid rgba(75, 127, 248, 0.7);
    border-radius: 8px;
}
.cell5 {
    border-bottom: 8px solid rgba(75, 127, 248, 0.7);
    border-right: 8px solid rgba(75, 127, 248, 0.4);
    border-radius: 8px;
}
.cell6 {
    border-bottom: 8px solid rgba(75, 127, 248, 0.3);
    border-radius: 8px;
} 
.cell7{
    border-right: 8px solid rgba(75, 127, 248, 0.3);
    border-radius: 8px;
}
.cell8 {
    border-right: 8px solid rgba(75, 127, 248, 0.3);
    border-radius: 8px;
}
td:hover {
    border-color: rgb(47, 43, 255);
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
    border-color: aliceblue;
    }
    100% {
    border-color: hsl(246, 100%, 42%);
    }
  }

  /* 
#winner {
    color: #f1c40f;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.fas{
    color: #f1c40f;
    font-size: 70px;
}
.pointer, #scoreboard {
    cursor: pointer;
}
#scoreboard {
    font-size: 36px;
}

section {
    color: #3498db;
    font-size: 20px;
}
#xScore, #oScore {
    color: #f1c40f;
}

@media screen and (max-width: 450px) {
    body {
      width: 100%;
    }
   } */