body {
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    font-weight: bold;
    color:#3498db;
    background-color: #f1c40f;
}
.container {
    padding: auto;
    /* display: flex; */
    justify-content: center;
    margin: 100px 400px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    height: 500px;
}
h1 {
    font-family: 'Indie Flower', cursive;
    margin-bottom: -30px;
    padding-top: 100px;
}
a {
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    color: #3498db;
    border: 1px solid rgba(75, 127, 248, 0.4);
    border-radius: 12px;
    padding: 10px;
    text-decoration: none;
}
a:hover {
    font-size: 26px;
    box-shadow: 3px 10px rgba(163, 205, 241, 0.849);
}
.container2 {
    padding: auto;
    display: flex;
    justify-content: center;
    margin: 50px 400px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
}
td {
    padding: 30px;
    margin: 25px;
    width: 120px;
    height: 120px;
}

.cell1{
    border-bottom: 8px solid rgba(75, 127, 248, 1);
    border-right: 8px solid rgba(75, 127, 248, 1);
    border-radius: 8px;
}

.cell2{
    border-bottom: 8px solid rgba(75, 127, 248, 0.7);
    border-right: 8px solid rgba(75, 127, 248, 0.4);
    border-radius: 8px;

}

.cell3{
    border-bottom: 8px solid rgba(75, 127, 248, 0.3);
    border-radius: 8px;

}

.cell4 {
    border-bottom: 8px solid rgba(75, 127, 248, 1);
    border-right: 8px solid rgba(75, 127, 248, 0.7);
    border-radius: 8px;

}
.cell5 {
    border-bottom: 8px solid rgba(75, 127, 248, 0.7);
    border-right: 8px solid rgba(75, 127, 248, 0.4);
    border-radius: 8px;

}
.cell6 {
    border-bottom: 8px solid rgba(75, 127, 248, 0.3);
    border-radius: 8px;

} 

.cell7{
    border-right: 8px solid rgba(75, 127, 248, 0.3);
    border-radius: 8px;

}
.cell8 {
    border-right: 8px solid rgba(75, 127, 248, 0.3);
    border-radius: 8px;
}
td:hover {
    border-color: rgb(47, 43, 255);
    animation: pulse 2s infinite;
    /* background-color: rgb(154, 165, 165); */
}
@keyframes pulse {
    0% {
    border-color: aliceblue;
    }
    100% {
    border-color: hsl(246, 100%, 42%);
    }
  }
#winner {
    color: #f1c40f;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.fas{
    color: #f1c40f;
    font-size: 70px;
}
.pointer, #scoreboard {
    cursor: pointer;
}
#scoreboard {
    font-size: 36px;
}

section {
    color: #3498db;
    font-size: 20px;
    /* display: inline-block; */
}
#xScore, #oScore {
    color: #f1c40f;
}

@media screen and (max-width: 450px) {
    body {
      width: 100%;
    }
   }