body {
    font-family: 'Knewave', cursive;
    font-size: 40px;
    color: darkmagenta;
}

.container {
    padding: auto;
    display: block;
    margin: 80px auto;
    max-width: 350px;
    text-align: center
}

td {
    padding: 30px;
    margin: 0;
}

.cell1, .cell2 {
    border-bottom: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
}

.cell3, .cell6 {
    border-bottom: 5px solid lightgrey;
}

.cell4, .cell5 {
    border-bottom: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
}

.cell7, .cell8 {
    border-right: 5px solid lightgrey;
}
td:hover {
    border-color: aqua;
    background-color: azure;
}
