td {
    padding: 20px;
    margin: 0;
}

.cell1 {
    border-bottom: 5px solid navy;
    border-right: 5px solid navy;
}

.cell2 {
    border-bottom: 5px solid navy;
    border-right: 5px solid navy;
}

.cell3 {
    border-bottom: 5px solid navy;
}

.cell4 {
    border-bottom: 5px solid navy;
    border-right: 5px solid navy;
}

.cell5 {
    border-bottom: 5px solid navy;
    border-right: 5px solid navy;
}

.cell6 {
    border-bottom: 5px solid navy;
}
.cell7 {
    border-right: 5px solid navy;
}

.cell8 {
    border-right: 5px solid navy;
}

/* .cell9 {
} */
